@model Lapangan

@{
    ViewData["Title"] = "Create - Booking";
    Layout = "_NoLayout";
}
<partial name="_Notification" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .booking {
            margin-top: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin-bottom:100px;
        }

        .booking-card {
            width: 90%;
            max-width: 800px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            display: flex;
            flex-direction: row;
        }

        .booking-time {
            flex: 1;
            padding: 30px;
            background-color: #007bff;
            color: #fff;
        }

        .booking-form {
            flex: 1;
            padding: 30px;
        }

        .time-detail {
            margin-bottom: 30px;
        }

            .time-detail h2 {
                font-size: 30px;
                margin-bottom: 20px;
            }

            .time-detail p {
                font-size: 18px;
                margin-bottom: 10px;
            }

            .time-detail hr {
                width: 80%;
                margin: 20px auto;
                border-color: #fff;
            }

        .form-field {
            margin-bottom: 20px;
        }

            .form-field label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
                color: #333;
            }

            .form-field input,
            .form-field select {
                width: calc(100% - 20px);
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

                .form-field input[type="number"],
                .form-field input[type="date"],
                .form-field input[type="time"] {
                    appearance: none;
                }

        .submit {
            width: 100%;
            background-color: #1fc38b;
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .submit:hover {
                background-color: #17a974;
            }
    </style>
</head>
<body>
    <div class="booking">
        <div class="booking-card">
            <div class="booking-time">
                <div class="time-detail">
                    <h2>Operating Hours</h2>
                    <hr />
                    <p>Monday - Friday:</p>
                    <p>08:00 - 18:00 = harga sewa perjam * durasi</p>
                    <p>19:00 - 00:00 = (harga sewa perjam + Rp 10.000) * durasi</p>
                    <hr />
                    <p>Saturday - Sunday:</p>
                    <p>08:00 - 18:00 = (harga sewa perjam + Rp 15.000) * durasi</p>
                    <p>19:00 - 00:00 = (harga sewa perjam + Rp 20.000) * durasi</p>
                    <hr />
                    <p>Daftarkan diri anda menjadi member untuk mendapatkan potongan harga mulai dari 10 %. <a asp-controller="Account" asp-action="RegisterMember" style="color:tomato">Daftar jadi member</a></p>
                </div>
            </div>
            <div class="booking-form">
                <form method="post" asp-controller="Booking" asp-action="Create">
                    <input value="@Model.IdLapangan" name="idLapangan" hidden>
                    <h2>Book Online</h2>
                    <div class="form-field">
                        <label>Nama Lapangan</label>
                        <input type="text" name="nama" placeholder="@Model.NamaLapangan" class="form-control" disabled>
                    </div>
                    <div class="form-field">
                        <label>Harga Sewa Perjam</label>
                        <input type="text" name="nama" placeholder="@Model.HargaSewaPerJam" class="form-control" disabled>
                    </div>
                    <div class="form-field">
                        <label>Nama Pemesan</label>
                        <input type="text" name="Nama" class="form-control" placeholder="Your Name" required>
                    </div>
                    <div class="form-field">
                        <label>No Handphone</label>
                        <input type="number" name="NoHp" class="form-control" placeholder="Your Number" pattern="[0-9]{11}" required>
                    </div>
                    <div class="form-field">
                        <label>Email</label>
                        <input type="text" name="Email" class="form-control" placeholder="Your Email" required>
                    </div>
                    <div class="form-field">
                        <label>Tanggal</label>
                        <input type="date" name="TglBooking" class="form-control" placeholder="Tanggal Booking" required>
                    </div>
                    <div class="form-field">
                        <label>Waktu Booking</label>
                        <input type="time" name="WaktuBooking" class="form-control" placeholder="Jam booking Start" required>
                    </div>
                    <div class="form-field">
                        <label>Durasi</label>
                        <input type="number" name="Durasi" class="form-control" placeholder="Durasi Booking" required>
                    </div>
                    @if (TempData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <div class="row">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary form-control">Booking Now</button>
                        </div>
                        <div class="col-md-6 mt-2 mt-md-0">
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-secondary form-control">
                                Cancel
                            </a>
                        </div>
                    </div>               
                </form>
            </div>
        </div>
    </div>
</body>
</html>

