<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
    <link href="https://fonts.googleapis.com/css2?family-Poppins:wght@400;600&display=swap">
    <style>
        * {
            margin: 0;
            padding: 0;
            border: none;
            outline: none;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            display: flex;
        }

        .sidebar {
            position: sticky;
            top: 0;
            left: 0;
            bottom: 0;
            width: 110px;
            height: 100vh;
            padding: 0 1.7rem;
            color: #fff;
            overflow: hidden;
            transition: all 0.5s linear;
            background-color: #040D12;
        }

            .sidebar:hover {
                width: 240px;
                transition: 0.5s;
            }

        .logo {
            height: 80px;
            padding: 16px;
        }

        .menu {
            height: 88%;
            position: relative;
            list-style: none;
            padding: 0;
        }

            .menu li {
                padding: 1rem;
                margin: 8px 0;
                border-radius: 8px;
                transition: all 0.5s ease-in-out;
            }

                .menu li:hover,
                .active {
                    background-color: #2596be;
                }

            .menu a {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                display: flex;
                align-items: center;
                gap: 1.5rem;
            }

                .menu a span {
                    overflow: hidden;
                }

                .menu a i {
                    font-size: 1.2rem;
                }

        .exit {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }

        /* *** main body section *** */
        .main--content {
            position: relative;
            background: #ebe9e9;
            width: 100%;
            padding: 1rem;
        }

        .header--wrapper img {
            width: 50px;
            height: 50px;
            cursor: pointer;
            border-radius: 50%;
        }

        .header--wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: #fff;
            border-radius: 10px;
            padding: 10px 2rem;
            margin-bottom: 1rem;
        }

        .header--title {
            color: rgba(113, 99, 186, 255);
        }

        .user--info {
            display: flex;
            align-items: center;
            gap: 1;
        }

        /* *** card container ***  */
        .card--container {
            background: #fff;
            padding: 2rem;
            border-radius: 10px;
        }

        .card--wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        }

        .main--title {
            color: rgba(113, 99, 186, 255);
            padding-bottom: 10px;
            font-size: 15px;
        }

        .income--card {
            background: rgb(229, 223, 223);
            border-radius: 10px;
            padding: 1.2rem;
            width: 290px;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transition: all 0.5s ease-in-out;
        }

            .income--card:hover {
                transform: translateY(-5px);
            }

        .card--header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .income {
            display: flex;
            flex-direction: column;
        }

        .title {
            font-size: 12px;
            font-weight: 200;
        }

        .income--value {
            font-size: 24px;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 600;
        }

        .icon {
            color: #fff;
            padding: 1rem;
            height: 60px;
            width: 60px;
            text-align: center;
            border-radius: 50%;
            font-size: 1.5rem;
            background: red;
        }

        .card-detail {
            font-size: 18px;
            color: #777777;
            letter-spacing: 2px;
            font-family: 'Courier New', Courier, monospace;
        }

        /* color css */
        .light-red {
            background: rgb(251, 233, 233);
        }

        .light-purple {
            background: rgb(254, 226, 254);
        }

        .light-green {
            background: rgb(235, 254, 235);
        }

        .light-blue {
            background: rgb(236, 236, 254);
        }

        .dark-red {
            background: red;
        }

        .dark-purple {
            background: purple;
        }

        .dark-green {
            background: green;
        }

        .dark-blue {
            background: blue;
        }


    </style>
</head>
<body>

    <div class="sidebar">
        <div class="logo"></div>
        <ul class="menu">
            <li class="active">
                <a asp-controller="Home" asp-action="IndexAdmin">
                    <i class="fas fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a asp-controller="DaftarMember" asp-action="ListMember">
                    <i class="fas fa-user"></i>
                    <span>Member</span>
                </a>
            </li>
            <li>
                <a asp-controller="Admin" asp-action="ListAdmin">
                    <i class="fas fa-user-cog"></i>
                    <span>Admin</span>
                </a>
            </li>
            <li>
                <a asp-controller="Lapangan" asp-action="Index">
                    <i class="fas fa-square"></i>
                    <span>Lapangan</span>
                </a>
            </li>
            <li>
                <a asp-controller="Booking" asp-action="Index">
                    <i class="fas fa-book"></i>
                    <span>Booking</span>
                </a>
            </li>
            <li class="exit">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>LogOut</span>
                </a>
            </li>

        </ul>
    </div>

    <div class="main--content">
        @RenderBody()
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
