@using E_BookingFutsal.Helper
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Furnitica - Minimalist Furniture</title>
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/home/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/home/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/home/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="~/home/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="~/home/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="~/home/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/home/libs/slider-range/css/jslider.css">
    <link rel="stylesheet" href="~/home/libs/owl-carousel/assets/owl.carousel.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="~/home/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/home/css/reponsive.css">
</head>
<body id="home2">
    <header>
        <!-- header left mobie -->
        <div class="header-mobile d-md-none">
            <div class="mobile hidden-md-up text-xs-center d-flex align-items-center justify-content-around">
                <!-- menu left -->
                <div id="mobile_mainmenu" class="item-mobile-top">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </div>
                <!-- menu right -->
                <div class="mobile-menutop" data-target="#mobile-pagemenu">
                    <i class="zmdi zmdi-more"></i>
                </div>
            </div>
        </div>
        <!-- header desktop -->
        <div class="header-top d-xs-none ">
            <div class="container">
                <div class="row">
                    <!-- logo -->
                    <div class="col-sm-2 col-md-2 d-flex align-items-center">
                        <div id="logo">
                            <a asp-area="User" asp-controller="Home" asp-action="Index">
                                <h2 style="font-weight:bold">SADILgram</h2>
                            </a>
                        </div>
                    </div>
                    <!-- menu -->
                    <div class="col-sm-5 col-md-5 align-items-center justify-content-center navbar-expand-md main-menu">
                        <div class="menu navbar collapse navbar-collapse">
                            <ul class="menu-top navbar-nav">
                                <li>
                                    <a asp-area="DaftarMember" asp-action="Index" class="parent">Home</a>
                                    <div class="dropdown-menu">
                                    </div>
                                </li>
                                <li>
                                    <a href="/sharephoto/create" class="parent">Upload</a>
                                    <div class="dropdown-menu">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- search and acount -->
                    <div class="col-sm-5 col-md-5 d-flex align-items-center justify-content-end" id="search_widget">
                        <div id="block_myaccount_infos" class="hidden-sm-down dropdown">
                            <div class="myaccount-title ">
                                <a href="#acount" data-toggle="collapse" class="acount">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <span>
                                        @{
                                            string cek = User.GetUsername();
                                            if (cek != "")
                                            {
                                                @User.GetUsername()
                                                ;
                                            }
                                        }
                                    </span>
                                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                                </a>
                            </div>
                            <div id="acount" class="collapse">
                                <div class="account-list-content">
                                    <div>
                                        <a class="login" asp-area="" asp-controller="Akun" asp-action="Logout" rel="nofollow" title="Log in to your customer account">
                                            <i class="fa fa-sign-in"></i>
                                            <span>Log Out</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- main content -->
    <div class="main-content">
        <div class="wrap-banner">
            <!-- menu category -->
        </div>
        <!-- main -->
        <div id="wrapper-site">
            <div id="content-wrapper" class="full-width">
                <div id="main">
                    <section class="page-home">
                        <!-- SHOP THE LOOK -->
                        <div class="section spacing-10 groupbanner-special">
                            <div class="title-block">
                                <span>Welcome In</span>
                                <span>Member Page</span>
                                <span></span>
                            </div>
                            <div class="row">
                                <div class="lookbook owl-carousel owl-theme owl-loaded owl-drag">
                                    <div class="item">
                                        <!-- Module Lookbooks -->
                                        <div class="tiva-lookbook defaul">
                                            <div class="items col-lg-12 col-sm-12 col-xs-12">
                                                <div class="tiva-content-lookbook">
                                                    <img class="img-fluid img-responsive" src="~/home/img/bunga-matahari.jpeg" alt="lookbook">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <!-- Module Lookbooks -->
                                        <div class="tiva-lookbook default">
                                            <div class="items col-lg-12 col-sm-12 col-xs-12">
                                                <div class="tiva-content-lookbook">
                                                    <img class="img-fluid img-responsive" src="~/home/img/Bunga-Melati.jpeg" alt="lookbook">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <!-- Module Lookbooks -->
                                        <div class="tiva-lookbook default">
                                            <div class="items col-lg-12 col-sm-12 col-xs-12">
                                                <div class="tiva-content-lookbook">
                                                    <img class="img-fluid img-responsive" src="~/home/img/bunga-tulip.jpeg" alt="lookbook">
                                                </div>
                                                <div class="info-lookbook">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product living room -->
                        <div class="section living-room background-none">
                            <div class="container">
                                <div class="tiva-row-wrap row">
                                    <div class="col-md-12 col-xs-12 groupcategoriestab-vertical">
                                        <div class="grouptab">
                                            <div class="product-tab categoriestab-left flex-9">
                                                @RenderBody()
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer-one">
        <!-- delivery form -->
        <div class="policy-home">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="block">
                            <div class="block-content">
                                <div class="policy-item">
                                    <div class="policy-content iconpolicy1">
                                        <img src="~/home/img/home/home1-ig.png" alt="img">
                                        <div class="policy-name mb-5">PHOTO SHARING</div>
                                        <div class="policy-des">From Indonesia</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tiva-html col-lg-4 col-md-4">
                        <div class="block">
                            <div class="block-content">
                                <div class="policy-item">
                                    <div class="policy-content iconpolicy2">
                                        <img src="~/home/img/home/logo-saya2.png" alt="img">
                                        <div class="policy-name mb-5">PROJECT SIMPLE</div>
                                        <div class="policy-des">Pelatihan PUB</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tiva-html col-lg-4 col-md-4">
                        <div class="block">
                            <div class="block-content">
                                <div class="policy-item">
                                    <div class="policy-content iconpolicy3">
                                        <div class="policy-name mb-5">CREATED BY </div>
                                        <div class="policy-des">Sawaluddin siregar</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- back top top -->
    <div class="back-to-top">
        <a href="#">
            <i class="fa fa-long-arrow-up"></i>
        </a>
    </div>
    <!-- Vendor JS -->
    <script src="~/home/libs/jquery/jquery.min.js"></script>
    <script src="~/home/libs/popper/popper.min.js"></script>
    <script src="~/home/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/home/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="~/home/libs/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/home/libs/slider-range/js/tmpl.js"></script>
    <script src="~/home/libs/slider-range/js/jquery.dependClass-0.1.js"></script>
    <script src="~/home/libs/slider-range/js/draggable-0.1.js"></script>
    <script src="~/home/libs/slider-range/js/jquery.slider.js"></script>
    <!-- Template JS -->
    <script src="~/home/js/theme.js"></script>
</body>
</html>