@model E_BookingFutsal.Models.LapanganForm

@{
    ViewData["Title"] = "Create - Lapangan";
    Layout = "_LayoutAdmin";
}

<div class="header--wrapper">
    <div class="header--title">
        <span>Primary</span>
        <h2>Dashboard</h2>
    </div>
    <div class="user--info">
        <img src="~/image/img.jpeg" alt="User Image">
    </div>
</div>

<div class="card" style="max-width: 900px; margin: auto;">
    <div class="card-header bg-primary text-white text-center" style="padding: 20px">
        <h3 class="mb-0">Add Lapangan</h3>
    </div>
    <div class="card-body">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }

        <form method="post" enctype="multipart/form-data" action="/Lapangan/Create">
            <div class="mb-3 row">
                <label asp-for="NamaLapangan" class="col-sm-4 col-form-label font-weight-bold fs-5">Nama Lapangan</label>
                <div class="col-sm-8">
                    <input asp-for="NamaLapangan" type="text" class="form-control fs-5" placeholder="Input Nama Lapangan" />
                    <span asp-validation-for="NamaLapangan" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="HargaSewaPerJam" class="col-sm-4 col-form-label font-weight-bold fs-5">Harga sewa perjam</label>
                <div class="col-sm-8">
                    <input asp-for="HargaSewaPerJam" type="text" class="form-control fs-5" placeholder="Input Harga Sewa Perjam" />
                    <span asp-validation-for="HargaSewaPerJam" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label font-weight-bold fs-5">Foto Lapangan</label>
                <div class="col-sm-8">
                    <input type="file" name="foto" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-md-6 mt-2 mt-md-0">
                    <a asp-controller="Lapangan" asp-action="Index" class="btn btn-outline-secondary form-control">
                        Cancel
                    </a>
                </div>
            </div
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}