@model List<Lapangan>
@{
    ViewData["Title"] = "List Lapangan";
    Layout = "_LayoutMember";
}
<partial name="_Notification" />
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>List Lapangan</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="~/css/datatables.min.css" />
</head>

<body>
    <div class="header--wrapper">
        <div class="header--title">
        </div>
        <div class="user--info">
            <img src="~/image/img.jpeg" alt="">
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="pt-5">List lapangan</h3>
                    </div>
                    <div class="card-body">
                        <div class="data_table">
                            <table id="example" class="table table-striped table-bordered">
                                <thead class="table-dark">
                                    <tr>
                                        <th>Nama Lapangan</th>
                                        <th>Harga Sewa Perjam</th>
                                        <th>Foto</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var lapangan in Model)
                                    {
                                        <tr>
                                            <td>@lapangan.NamaLapangan</td>
                                            <td>@lapangan.HargaSewaPerJam</td>
                                            <td><img src="~/lapangan/@lapangan.Photo" class="img-fluid" alt="Lapangan Photo" width="40px" height="40px" style="border-radius=50%;object-fit: cover" /></td>
                                            <td>
                                                <a href="/Lapangan/DetailFromMember/@lapangan.IdLapangan" class="btn btn-primary"><i class="fa fa-bookmark" aria-hidden="true"></i> Detail</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript Files -->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/pdfmake.min.js"></script>
    <script src="~/js/vfs_fonts.js"></script>
    <script src="~/js/custom.js"></script>
</body>
</html>
