@{
    Layout = "_LayoutAdmin";
    ViewBag.Title = "Dashboard";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family-Poppins:wght@400;600&display=swap">
</head>
<body>

    <div class="header--wrapper">
        <div class="header--title">
            <span>Primary</span>
            <h2>dashboard</h2>
        </div>
        <div class="user--info">
            <img src="~/image/img.jpeg" alt="">
        </div>
    </div>
    <div class="card--container">
        <h3 class="main--title">Today's data</h3>
        <div class="card--wrapper">
            <div class="income--card light-red">
                <div class="card--header">
                    <div class="income">
                        <span class="title">
                            Monthly Income
                        </span>
                        <span class="income--value">Rp 150.000</span>
                    </div>
                    <i class="fas fa-dollar sign icon"></i>
                </div>
                <span class="card-detail">**** **** **** 3484</span>
            </div>
            <div class="income--card light-purple">
                <div class="card--header">
                    <div class="income">
                        <span class="title">
                            Monthly Expenditure
                        </span>
                        <span class="income--value">Rp 150.000</span>
                    </div>
                    <i class="fas fa-list icon dark-purple"></i>
                </div>
                <span class="card-detail">**** **** **** 5542</span>
            </div>
            <div class="income--card light-green">
                <div class="card--header">
                    <div class="income">
                        <span class="title">
                            Progress Project
                        </span>
                        <span class="income--value">95% </span>
                    </div>
                    <i class="fa solid fa-check icon dark-green"></i>
                </div>
                <span class="card-detail">**** **** **** 1601</span>
            </div>
            <div class="income--card light-blue">
                <div class="card--header">
                    <div class="income">
                        <span class="title">
                            Pending Requests
                        </span>
                        <span class="income--value">2</span>
                    </div>
                    <i class="fas fa-comments icon dark-blue"></i>
                </div>
                <span class="card-detail">**** **** **** 2111</span>
            </div>
        </div>
    </div>
</body>
</html>

