@model E_BookingFutsal.Models.DaftarMember

@{
    ViewData["Title"] = "Create - Member";
    Layout = "_LayoutAdmin";
}

<div class="header--wrapper">
    <div class="header--title">
        <span>Primary</span>
        <h2>Dashboard</h2>
    </div>
    <div class="user--info">
        <img src="~/image/img.jpeg" alt="User Image">
    </div>
</div>

<div class="card" style="max-width: 900px; margin: auto;">
    <div class="card-header bg-primary text-white text-center" style="padding: 20px">
        <h3 class="mb-0">Add Member</h3>
    </div>
    <div class="card-body">

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-danger">
                @ViewBag.Error
            </div>
        }

        <form method="post" enctype="multipart/form-data" action="/DaftarMember/Create">
            <div class="mb-3 row">
                <label asp-for="NamaMember" class="col-sm-4 col-form-label font-weight-bold fs-5">Nama Member</label>
                <div class="col-sm-8">
                    <input asp-for="NamaMember" type="text" class="form-control fs-5" placeholder="Input Nama Member" required />
                    <span asp-validation-for="NamaMember" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Username" class="col-sm-4 col-form-label font-weight-bold fs-5">Username</label>
                <div class="col-sm-8">
                    <input asp-for="Username" type="text" class="form-control fs-5" placeholder="Input Username" required />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Password" class="col-sm-4 col-form-label font-weight-bold fs-5">Password</label>
                <div class="col-sm-8">
                    <input asp-for="Password" type="text" class="form-control fs-5" placeholder="Input Password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="NoHp" class="col-sm-4 col-form-label font-weight-bold fs-5">No Handphone</label>
                <div class="col-sm-8">
                    <input asp-for="NoHp" type="text" class="form-control fs-5" placeholder="Input No Handphone" required/>
                    <span asp-validation-for="NoHp" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Email" class="col-sm-4 col-form-label font-weight-bold fs-5">Email</label>
                <div class="col-sm-8">
                    <input asp-for="Email" type="text" class="form-control fs-5" placeholder="Input Email" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Alamat" class="col-sm-4 col-form-label font-weight-bold fs-5">Alamat</label>
                <div class="col-sm-8">
                    <input asp-for="Alamat" type="text" class="form-control fs-5" placeholder="Input Alamat" required />
                    <span asp-validation-for="Alamat" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="TanggalLahir" class="col-sm-4 col-form-label font-weight-bold fs-5">Tanggal Lahir</label>
                <div class="col-sm-8">
                    <input asp-for="TanggalLahir" type="date" class="form-control fs-5" placeholder="Input Tanggal Lahir" required />
                    <span asp-validation-for="TanggalLahir" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 col-form-label font-weight-bold fs-5">Foto Member</label>
                <div class="col-sm-8">
                    <input type="file" name="foto" class="form-control" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-md-6 mt-2 mt-md-0">
                    <a asp-controller="DaftarMember" asp-action="ListMember" class="btn btn-outline-secondary form-control">
                        Cancel
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}