@model E_BookingFutsal.Models.DaftarMember

@{
    ViewData["Title"] = "Welcome Member";
    Layout = "_LayoutWelcome";
}
<partial name="_Notification" />

<style>
    .transparent-background {
        background-color: rgba(255, 255, 255, 0.5);
        padding: 20px;
        border-radius: 10px;
    }
</style>
<video autoplay muted loop id="video-bg">
    <source src="~/img/video-futsal.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>
<div class="container" style="margin-top: 130px; margin-bottom: 30px">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card transparent-background">
                <div class="card-header bg-primary text-white text-center">
                    <h3 class="mb-0">Welcome to Futsal Club!</h3>
                </div>
                <div class="card-body">
                    <p class="lead text-center">Congratulations!</p>
                    <p class="lead text-center">You have successfully registered as a member of our Futsal Club.</p>
                    <hr>
                    <h5 class="text-center">Membership Benefits:</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Priority booking for futsal courts.</li>
                        <li class="list-group-item">Discounts on court rental fees.</li>
                        <li class="list-group-item">Access to exclusive member-only events and tournaments.</li>
                        <li class="list-group-item">Special offers and promotions.</li>
                    </ul>
                    <hr>
                    <p class="text-center">Thank you for choosing to be a member of our club. We look forward to seeing you on the field!</p>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-2 mt-md-0">
                        <a asp-controller="Booking" asp-action="ListBooking" class="btn btn-outline-secondary form-control">
                            View List Booking
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
